.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

#projectRoot, .projectRoot {
	-fx-background-color: #010218;
	 -fx-text-fill: #ffffff;
}

.bg2, .chart-plot-background, .list-view, .list-view .list-cell:even  {
	-fx-background-color:#0d0d0d;
	-fx-text-fill:#b7bcc3;
}
.bg3,.list-view .list-cell:odd {
	-fx-background-color:#141414;
	-fx-text-fill:#b7bcc3;
}

.chart-vertical-grid-lines,.chart-horizontal-grid-lines {
	-fx-stroke:#141414;
}

.chart-legend {
   -fx-background-color: transparent;
   	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-border-color: #ffffff;
}

.chart-legend-item{
   -fx-text-fill:#ffffff;
}

.eventInformation {
	-fx-background-color: #303041;
	 -fx-text-fill: #ffffff;
	 -fx-spacing: 10;
}

.button {
	-fx-background-color: transparent;
	-fx-border-color: #ffffff;
	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-text-fill: #ffffff;
	-fx-cursor: hand;
	-fx-padding: 4px;
	-fx-margin: 4px;
}

.button:hover {
	-fx-background-color:rgba(255, 255, 255, 0.1);
}

.eventInformation .button {
	-fx-border-color:  #5e35b1;
	-fx-border-radius: 6px;
	-fx-text-fill:  #5e35b1;
}

.eventInformation .button:hover {
		-fx-background-color:rgba(0, 0, 0, 0.1)
	
}

.chart-title {
  -fx-text-fill: #ffffff;
}
 
.axis-label {
  -fx-text-fill: #ffffff;
}

.axis {
	-fx-tick-label-fill: #ffffff;
}

.white-text {
	 -fx-text-fill: #ffffff;
	 -fx-fill: #ffffff;
}

